<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./head.ejs") %>
	</head>

	<body>
		<div class="alert"></div>

		<%- include("navbar.ejs") %>

		<div class="content">
			<section class="slide" id="intro">
				<h1 class="heading">Hi,This is Suraj!</h1>
				<h1 class="heading">From India</h1>
				<h1 style="margin-block: 30px">
					A Programmer. <br />
					A Data-Science Enthusiast. <br />
					A Learner.
				</h1>
				<div class="img-container">
					<div id="prof-img">
						<img class="blob" src="./static/devimg.jpeg" alt="" />
					</div>
				</div>
			</section>
			<section class="slide" id="skills">
				<h1 class="depict">Type a language.</h1>
				<h1 class="depict">Click on push to load onto stack.</h1>
				<h1 class="depict">Click on pop to unload stack.</h1>
				<div class="stack-btns" style="margin-top: 30px">
					<button class="btn" id="push">
						<span class="brck"
							>.push(<input id="lang" placeholder="lang.." type="text" />)</span
						>
					</button>
					<button class="btn" id="pop"><span class="brck">.pop()</span></button>
				</div>
				<div class="skillset">
					<ul class="stack">
						<li class="stack-item top" data-lang="None">None</li>
					</ul>
					<div class="code sample"></div>
				</div>
			</section>
			<section class="slide" id="some-info">
				#1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
			<section class="slide" id="some-info2">
				#2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
			<section class="slide" id="some-info3">
				#3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
			<section class="slide" id="some-info4">
				#4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
			<section class="slide" id="some-info5">
				#5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
			<section class="slide" id="some-info6">
				#6 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
				reprehenderit sapiente sint, maxime dolor architecto perspiciatis
				distinctio quisquam accusantium possimus delectus soluta sunt error
				placeat culpa numquam, similique repellendus ullam dicta quidem? Error
				nam magnam consequuntur! Nisi sit nulla quae magni modi similique
				perferendis eum et necessitatibus architecto ratione inventore
				exercitationem aliquid, quo libero veritatis animi consequuntur, illo
				fugit possimus vitae explicabo voluptatem praesentium vel! Ipsum
				voluptatibus laudantium assumenda sit dolores illum maiores vitae quod,
				quas sunt, animi nihil perferendis esse magni iste placeat? Debitis
				numquam sunt expedita fuga, nisi, laborum dolores corrupti assumenda
				modi alias, sequi officia accusamus delectus.
			</section>
		</div>
	</body>
</html>
<!-- Junk
	==========python=======
	<span class="kwd">def </span>
	<span class="brck">greet(</span><span class="ident">user</span
	><span class="brck">)</span>
	->
	<span class="kwd">None</span>:
	<br />
	&emsp;&emsp;<span class="brck">print(</span
	><span class="str">f"Hello</span><span class="brck">{</span
	><span class="ident">user</span><span class="brck">}</span
	><span class="str">"</span><span class="brck">)</span>
	<br />
	<br />
	<br />
	<span class="ident">name = </span>
	<span class="brck">input(</span><span class="str">"Name: "</span
	><span class="brck">)</span>
	<br />
	<span class="ident">name = </span>
	<span class="ident">name</span>.<span class="brck">strip()</span>
	<br />
	<br />
	<br />
	<span class="kwdend">if</span>
	<span class="ident"> __name__ </span> ==
	<span class="str">"__main__"</span>:
	<br />
	&emsp;&emsp;
	<span class="brck">greet(</span><span class="ident">name</span
	><span class="brck">)</span>
	==========python=======
	==========css==========
	<span class="brck">.heading{</span><br />&emsp;<span class="ident"
	>font-size: </span
	><span class="kwd">100px</span>;<br /><span class="brck">}</span>
	==========css==========
	==========js===========
	<span class="brck">(</span><span class="kwd">function&nbsp;</span
	><span class="special">greet</span><span class="brck">(</span
	><span class="ident">user</span> <span class="brck">){</span
	><br /><br />&emsp; <span class="kwd">console</span>.<span
		class="brck"
		>log(</span
	><br />
	&emsp;&emsp; <span class="str">"Hello " + </span
	><span class="ident">user</span> <br />
	&emsp;<span class="brck">)</span>;<br />
	<br /><span class="brck">})(prompt(</span
	><span class="str">"Name"</span><span class="brck">))</span>;
	==========js===========
	==========html=========
	<span class="tag start">html</span><br />&emsp;<span
	class="tag start"
	>body</span
	><br />&emsp;&emsp;<span class="tag start">h1</span> Hello User
	<span class="tag end">h1</span><br />&emsp;<span class="tag end"
	>body</span
	><br /><span class="tag end">html</span>
	==========html=========
	==========cpp==========
	<span class="kwdend">#include</span
	><span class="tag start">iostream</span><br /><br /><span
	class="kwd"
	>int </span
	><span class="brck">main(){</span><br />&emsp;&emsp;<span
	class="special"
	>std</span
	>::<span class="special">string </span
	><span class="ident">msg</span>;<br />&emsp;&emsp;<span
	class="ident"
	>msg</span
	>
	= <span class="str">"Hello User"</span>;<br />&emsp;&emsp;<span
	class="special"
	>std</span
	>::<span class="kwd">cout </span>&lt;&lt;<span class="ident"></span>
	msg</span
	>;<br />&emsp;&emsp;<span class="kwdend">return </span>
	<span class="ident">0</span>;<br /><span class="brck">}</span>
	==========cpp==========
	==========c============
	<span class="kwdend">#include</span
	><span class="tag start">stdio.h</span><br /><br /><span
	class="kwd"
	>int </span
	><span class="brck">main(){</span><br />&emsp;&emsp;<span class="special">char </span
	><span class="ident">msg</span><span class="brck">[]</span>
	= <span class="str">"Hello User"</span>;<br />&emsp;&emsp;<span class="kwd">printf</span><span class="brck">(</span><span class="str">"%s"</span>,<span class="ident"></span>
	msg</span
	><span class="brck">)</span>;<br />&emsp;&emsp;<span class="kwdend">return </span>
	<span class="ident">0</span>;<br /><span class="brck">}</span>
	==========c============

-->
